.navigation {
    padding: 0 8px;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navigation ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
    font-weight: 500;
  }